/* @content: a directive that allows @mixin to take blocks of style wherever it is used */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 37.5em) {
    body {
      padding: 1.5rem; } }

body {
  font-family: "Rubik";
  color: #002d5b;
  font-weight: 400; }

.heading {
  font-size: 6rem;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 37.5em) {
    .heading {
      font-size: 5rem; } }

.carousel {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    .carousel {
      max-width: none; } }
  .carousel-nav {
    text-align: center;
    margin: 8rem auto; }
    .carousel-nav ol {
      padding: 0; }
      .carousel-nav ol li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        height: 0.5rem; }
        .carousel-nav ol li:after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(100% + 1px);
          bottom: 0;
          width: 12px;
          height: 12px;
          transform: translateY(-50%);
          border-radius: 50%;
          background: #002d5b; }
        .carousel-nav ol li:not(:first-child) {
          width: 4rem;
          background: #f4f3ed;
          margin-left: 12px; }
  @media (max-width: 37.5em) {
    .carousel .row .col-1-of-2 {
      width: calc(100% - 6rem); } }

.card {
  background-color: #f4f3ed;
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem; }
  @media (max-width: 37.5em) {
    .card {
      width: calc(100% - 2rem); } }
  .card .logo-headline {
    display: flex;
    align-items: center; }
    @media (max-width: 37.5em) {
      .card .logo-headline {
        flex-direction: column;
        align-items: flex-start; } }
    .card .logo-headline img {
      width: calc((100% - 2 * 3rem) / 3);
      margin-right: 3rem; }
      @media (max-width: 37.5em) {
        .card .logo-headline img {
          width: 75%;
          margin: 0 auto; } }
    .card .logo-headline .headline {
      width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
      @media (max-width: 37.5em) {
        .card .logo-headline .headline {
          width: 100%; } }
  .card .content-source {
    font-size: 1.5rem;
    font-style: italic;
    color: #899da3;
    margin-left: calc(((100% - 2 * 3rem) / 3) + 3rem); }
    @media (max-width: 37.5em) {
      .card .content-source {
        margin: 3rem 0; } }
  .card .content-link {
    text-align: end; }
    .card .content-link a {
      text-transform: uppercase;
      font-size: 1.25rem;
      text-decoration: none;
      position: relative; }
      .card .content-link a:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -4px;
        border-width: 0 0 1px;
        border-style: solid; }
    @media (max-width: 37.5em) {
      .card .content-link {
        float: none;
        text-align: center;
        padding-bottom: 3rem; } }

.row {
  display: flex;
  overflow: auto; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 37.5em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 3rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100%;
        flex: none; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
