.row {
    // select all elements where the class attribute starts with 'col-'
    [class^='col-'] {
        float: left;

        // apply to all except the last child
        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(phone) {
                margin-right: $spacing-small;
            }
        }
    }

    display: flex;
    overflow: auto;

    .col-1-of-2 {
        min-width: calc((100% - #{$gutter-horizontal}) / 2);

        @include respond(phone) {
            width: 100%;
            flex: none;
        }
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);

        @include respond(phone) {
            width: 100%;
        }
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }
}