.carousel {
    max-width: 114rem;
    margin: 0 auto;

    @include respond(phone) {
        max-width: none;
    }
    
    &-nav {
        text-align: center;
        margin: $gutter-vertical auto;

        ol {
            padding: 0;

            // carousel nav line
            li {
                position: relative;
                display: inline-block;
                list-style-type: none;
                height: 0.5rem;

                // carousel nav dot
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 0px);
                    bottom: 0;
                    width: 12px;
                    height: 12px;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: $color-primary;
                }

                &:not(:first-child) {
                    width: 4rem;
                    background: $color-grey;
                    margin-left: 12px;
                }
            }
        }

    }

    .row .col-1-of-2 {
        @include respond(phone) {
            width: calc(100% - #{$gutter-horizontal});
        }
    }
}