.card {
    background-color: $color-grey;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 700;

    &__logo-headline {
        display: flex;
        align-items: center;
    }

    &__content-source {
        font-size: 1.5rem;
        font-style: italic;
        color: $color-grey-dark;
    }
}