.card {
    background-color: $color-grey;
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    
    @include respond(phone) {
        width: calc(100% - 2rem);
        min-height: 490px;
    }

    .logo-headline {
        display: flex;
        align-items: center;

        @include respond(phone) {
            flex-direction: column;
            align-items: flex-start;
        }

        img {
            width: calc((100% - 2 * #{$spacing-small}) / 3);
            margin-right: $spacing-small;

            @include respond(phone) {
                width: 75%;
                margin: 0 auto;
            }
        }

        .headline {
            width: calc(2 * ((100% - 2 * #{$spacing-small}) / 3) + #{$spacing-small});

            @include respond(phone) {
                width: 100%;
            }
        }
    }

    .content-source {
        font-size: 1.5rem;
        font-style: italic;
        color: $color-grey-dark;
        margin-left: calc(((100% - 2 * #{$spacing-small}) / 3) + #{$spacing-small});

        @include respond(phone) {
            margin: $spacing-small 0;
        }
    }

    .content-link {
        text-align: end;

        a {
            text-transform: uppercase;
            font-size: 1.25rem;
            text-decoration: none;
            position: relative;

            // ::after pseudo-element used to increase space between text and underline
            &:after {
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -4px;
                border-width: 0 0 1px;
                border-style: solid;
            }
        }

        @include respond(phone) {
            float: none;
            text-align: center;
            padding-bottom: $spacing-small;
        }
    }
}