body {
    font-family: "Rubik";
    color: $color-primary;
    font-weight: 400;
}

.heading {
    font-size: 6rem;
    font-weight: 300;
    text-align: center;

    @include respond(phone) {
        font-size: 5rem;
    }
}